body {
    background-color: antiquewhite;
}
.first-line {
    text-align: center;
    color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    width: auto;
    /* border: 3px solid mediumaquamarine; */
    margin-bottom: 30px;
}
.first-line img {
    width: 50px;
    height: 50px;
}
.main_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#frame {
    width: 250px;
    height: 200px;
}
.toppy {
    margin-top: 100px;
}
/* .list {
    list-style-image: url(arrows.png);
    display: inline-block;
    height: 4px;
}
*/
.formies {
    padding: 10px;
    display: block;
}
.formie1 {
    display: inline-flex;
    border: 3px blue solid;
    padding: 10px;
}
h4 {
    color: rgb(190, 58, 49);
}